.gameScreen {
  height: 100vh;
  background: #D3D3D3;
  text-align: center;
  position: relative;
}

.levelScreen {
  height: 80%; /* height is 590 */
  width: 80%;
  background: black;
  margin: auto;
}

.Target {
  position: relative; /* to animate the an element position has to be fixed, relative or absolute. */
  height: 100px;
  width: 100px;
  background-color: red;
  border-radius: 12px;
  animation: move 1s linear infinite;
}
@keyframes move {
  100%{
    transform: translate(0px)
  }
  100% {
    transform:translate(900px)
  }
}
.Target2 {
  position: relative;
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 12px;
}
