/* to animate the element an element position has to be fixed, relative or absolute. */
.gameScreen {
  height: 100vh;
  background: #D3D3D3;
  text-align: center;
  position: relative;
}

#mainMenu {
  height: 80%;
  width: 80%;
  background: red;
  margin: auto;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}
/* Menu buttons */
.menuButton {
  position: absolute;
  display: block;
  border-radius: 12px;
  width: 200px;
}
#menuStart {
  top: 170px;
}
#menuInstructions {
  top: 230px;
}
#menuLeaderBoard {
  top: 290px;
}
#menuExit {
  top: 350px;
}

/* Game window */
#mainGame {
    height: 80%;
    width: 80%;
    background: black;
    margin: auto;
    position: relative;
}

.levelScreen {
  height: 100%; /* height is 590 */
  width: 100%;
  background: black;
  margin: auto;
  position: relative;
}

/* In game buttons */
.startBtn {
  margin-top: 15px;
  border-radius: 30px
  height: 60px;
  width: 100px;
  display: inline-block;
}
