/* to animate the element an element position has to be fixed, relative or absolute. */
.mainMenu {

}

.gameScreen {
  height: 100vh;
  background: #D3D3D3;
  text-align: center;
  position: relative;
}

.target {
  background-color: #1B58E5;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
}

.levelScreen {
  height: 80%; /* height is 590 */
  width: 80%;
  background: black;
  margin: auto;
  position: relative;
}

.startBtn {
  margin-top: 15px;
  border-radius: 30px
  height: 60px;
  width: 100px;
  display: inline-block;
}
